# The base-path of endpoints for Sensitive Beacon API:
base_path: /beacon/sensitive/v2

info:
  id: org.example.sensitive.beacon.v2
  name: GDI Sensitive Beacon API
  version: v0.9.0
  environment: dev  # choices: dev, test, staging, prod

  # The following are all OPTIONAL:
  description: One of the many genomic databases of the GDI user portal.
  alternativeUrl: https://portal.dev.gdi.lu
  documentationUrl: https://docs.genomebeacons.org
  # createdAt: "2025-10-01T11:00:00Z"
  # updatedAt: "2026-10-31T23:00:00Z"
  # info:  # (optional dictionary of custom properties and values)

configuration:
  productionStatus: DEV  # DEV, TEST, PROD (just info)
  securityLevel: CONTROLLED # PUBLIC, REGISTERED, CONTROLLED (just info)
  granularity: record    # boolean, count, record (affects responses)

  # If you want to avoid exposing the number of individuals with rare variants,
  # you can increase this threshold (value 1 does not hide variant matches where
  # only 1 individual is found). However, typically this censoring should be
  # also done in the VCF files. This feature is just a second protection layer.
  hideLowerCounts: 1     # 1 is the minimum value (affects individuals response)

  # It's possible to restrict access using JWT validation or Basic
  # authentication but not both.
  # Authentication method becomes active if all fields are filled in.
  oidc:
    # This URL will be also used to fetch the well-known openid-configuration.
    issuer: https://login.aai.lifescience-ri.eu/oidc/
    client_id:
    client_secret:

    # [OPTIONAL] Defines the GA4GH Visas that the ga4gh_passport_v1 expected to
    # contain before granting access to the user.
    # All the listed visas must be present. One list item corresponds to the
    # claim-value pairs of one visa (all the claims must be present).
    # https://ga4gh.github.io/data-security/ga4gh-passport#visa-object-claims
    required_visas:
      # Visa properties for "bona fide researcher":
      - type: ResearcherStatus
        value: https://doi.org/10.1038/s41431-018-0219-y

  # Both username and password are required to make the row effective.
  # Without any effective rows, Basic authentication is not effective.
  basic:
    - username:
      password:
