name: Docker Image

# This workflow runs automatically when
# - a commit is made to the main branch, or
# - a tag is pushed.
# Alternatively, the workflow can be manually triggerred on GitHub (UI).

on:
  workflow_dispatch:
  push:
    branches:
      - main
    tags:
      - "*"

jobs:

  # This job publishes an image: ghcr.io/<user/repo>:<git-tag>.
  # The tag is either the Git tag, or otherwise <branch-name>-<commit-hash>.
  # Currently, the image is built for linux/amd64 and linux/arm64.

  docker-image-push:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Extract metadata for the Docker image
        id: meta
        uses: docker/metadata-action@v5
        with:
          # Specifies the full image name (with user/repo) for the Docker image:
          images: ghcr.io/${{ github.repository }}
          # # Specifies the tag for the Docker image:
          # https://github.com/marketplace/actions/docker-metadata-action#tags-input
          # 1. On the push of a git tag (event=tag) – use the same tag.
          # 2. Fallback – use branch name and short commit hash.
          # (type=sha rule has lower priority than type=ref.)
          tags: |
            type=ref,event=tag
            type=sha,prefix=${{ github.ref_name }}-,format=short
      - name: Build and push the Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          file: Dockerfile
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: linux/amd64,linux/arm64
